a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  color: rgba(255, 255, 255, 0.87);
  background-color: #fff;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #1b1b1b;
    color: #fff;
  }
}
